.chat-window-container {
	justify-content: space-between;
  flex: 1;
  width: 100%;
}

.message-list-container {
	height: 80%;
  width: 100%;
}

.message-input-container {
  flex: 1;
  justify-content: flex-end;
  height: 10%;
}

.chat-window-header {
  height: 10%;
}

.refresh-messages-button {
	margin: 5px;
	align-content: center;
}

.chat-title {
  vertical-align: auto;
}